/* RESET RULES 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --lightgray: #efefef;
  --blue: steelblue;
  --white: #fff;
  --black: rgba(0, 0, 0, 0.8);
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

#root button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  font-size: inherit;
  min-width: auto;
  margin: 0;
}

#root .open-modal {
  font-weight: bold;
  background: var(--blue);
  color: var(--white);
  padding: 0.75rem 1.75rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}


/* MODAL
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#root .popup-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

#root .popup-modal button.modal-btn {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  min-width: fit-content;
  font-size: inherit;
}

#root .popup-modal.is-visible {
  visibility: visible;
  opacity: 1;
}

#root .popup-modal .modal-dialog {
  position: relative;
  min-width: 600px;
  max-height: 80vh;
  border-radius: 5px;
  background: var(--white);
  overflow: auto;
  cursor: default;
}

#root .popup-modal .modal-dialog > * {
  padding: 1rem;
}

#root .popup-modal .modal-dialog .modal-header,
#root .popup-modal .modal-dialog .modal-footer {
  background: var(--lightgray);
}

#root .popup-modal .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
}

#root .popup-modal .modal-header .close-modal {
  font-size: 1.5rem;
}

#root .popup-modal p + p {
  margin-top: 1rem;
}


/* SLIDE LEFT ANIMATION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[data-animation="slideInOutLeft"] .modal-dialog {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.5s var(--bounceEasing);
}

[data-animation="slideInOutLeft"].is-visible .modal-dialog {
  opacity: 1;
  transform: none;
  transition-delay: 0.2s;
}
